.navbar {
    background-color: #343a40; /* Màu nền navbar */
    color: #ffffff; /* Màu chữ của navbar */
}

.navbar-brand {
    color: #ffffff; /* Màu chữ của brand */
    font-size: 1.5rem; /* Cỡ chữ */
    font-weight: bold; /* Đậm */
}

.navbar-brand:hover {
    color: #ffffff; /* Màu chữ khi hover */
}

.navbar-nav {
    margin-left: auto; /* Căn phải */
}

.nav-link {
    color: #ffffff; /* Màu chữ của link */
    margin-left: 10px; /* Khoảng cách giữa các link */
}

.nav-link:hover {
    color: #ffffff; /* Màu chữ khi hover */
}
